<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage1</title>
</head>
<body>
    {% if name=='Rupak singh rajpoot'%}
                <h2>{{name}}!</h2>
                <h3></h3>
            <h1>hello rupak singh here </h1>
            <br>
                <a href="https://www.udemy.com/course/100-days-of-code/?utm_source=bing&utm_medium=udemyads&utm_campaign=BG-Search_Keyword_Alpha_Prof_la.EN_cc.India&campaigntype=Search&portfolio=Bing-India&language=EN&product=Course&test=&audience=Keyword&topic=Python&priority=Alpha&utm_content=deal4584&utm_term=_._ag_1327112923136077_._ad__._kw_Flask%20Beginner_._de_c_._dm__._pl__._ti_kwd-82945677935199:loc-90_._li_1650_._pd__._&matchtype=p&msclkid=8e2b42d405a4119d37462a153034e9af">google</a>
     {%else%}  
        {% for i in range(4)%}     
           <h1>who the fk you  are</h1> 
        {%endfor%}   
     {% endif %}
</body>
</html>